<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8' />
    <title>Fresh Tracks</title>
    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.52.0/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.52.0/mapbox-gl.css' rel='stylesheet' />
    <style>
        body { margin:0; padding:0; }
        #map { position:absolute; top:0; bottom:0; width:100%; }
    </style>
</head>
<body>

<script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.0.0/mapbox-gl-directions.js'></script>
<link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.0.0/mapbox-gl-directions.css' type='text/css' />
<div id='map'></div>

<script>
mapboxgl.accessToken = 'pk.eyJ1IjoiYW1hZHJpY2siLCJhIjoiY2ptOW83N2llMDBybzNwbTVtbnJydWpqNCJ9.1v3I6nmQV0uRg_sn1UW4kw';
var map = new mapboxgl.Map({
  container: 'map',
  style: 'mapbox://styles/mapbox/light-v9',
  center: [-74.0060, 40.7128],
  zoom: 9.75
});

var url = 'https://data.cityofnewyork.us/resource/77fd-dby5.geojson?rating_b=8';
map.on('load', function () {
  window.setInterval(function() {
      map.getSource('good').setData(url);
  }, 2000);
  map.addSource('good', { type: 'geojson', data: url });
  map.addLayer({
      "id": "good",
      "type": "line",
      "source": "good",
      "layout": {
        "line-join": "bevel",
        "line-cap": "round"
      },
      "paint": {
        "line-color": "#2ECC71",
        "line-width": 5,
        "line-opacity": .75,
      }
  });
});

map.addControl(new MapboxDirections({
    accessToken: mapboxgl.accessToken
}), 'top-left');

map.addControl(new mapboxgl.GeolocateControl({
    positionOptions: {
        enableHighAccuracy: true
    },
}));
</script>

</body>
</html>